/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
body {
    background-image: url(../img/sfondo.png);
    width: 40%;
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal;
        background-repeat: repeat-y;
        background-size: 45vw;
}

/* HEADER */

header {
    background-color: #00809c;
    text-align: center;
    margin: 1em;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    color: white;
}

header nav {
    padding-bottom: 1em;
}

header li {
    list-style: none;
}

header img {
    width: 60%;
    padding-top: 2em;
}

header a {
    color: white;
    text-decoration: none;
}
/* MAIN */

main {
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
}

/* ELEMENTI NEL MAIN - ARTICLE */

main span {
    color: #aa126d;
    font-style: bold;
}

main h1 {
    padding: 0.5em;
}

main h1+p {
    color: #8aa19e;
    padding: 0 0.5em;
}

main p {
    padding: 0 0.5em;

}

main > article > ul > li, main > article > ol > li{
    padding-right: 0.5em;
}

iframe {
    width: 290px;
    height: 144px;
    border-radius: 10%;
    margin: 0.5em;
}

/* TABELLE */

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid cornflowerblue;
}

table th {
    background-color: cornflowerblue;
}

/* FORM */

button {
    background-color: #2e6cd8;
}

input {
    width: 65%;
}

/* ELEMENTI NELL' ASIDE */

aside div{
    background-color: #dadbdd;
    padding: 0.5em 0;
}

aside div:nth-of-type(1) {
    text-align: center;
    padding-bottom: 1em;
}

/* FOOTER */

footer {
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}
